<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <%= image_tag @article.picture.url(:medium) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @article.price_per_unit %>
</p>

<p>
  <strong>Availability:</strong>
  <% if @article.stock > 0 %>
  <%=   "In stock" %>
  <% else %>
  <%=   "Out of stock" %>
  <% end %>
</p>


<%= link_to 'Back', :back %>