<h1>ADMIN PANEL</h1>
<h2>More awesome stuff is going to come...</h2>

<p><%= link_to "Users", users_path%></p>
<p><%= link_to "Articles", articles_path%></p>
<p><%= link_to "Orders", orders_path%></p>
<p><%= link_to "Invoices", invoices_path%></p>
<p><%= link_to "Shopping Carts", shopping_carts_path%></p>